#Header{
    width: 100%; 
    background-color: skyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

body{
    background: linear-gradient(#5495e6 100%, #094d9e 1%);
}

#CREDIT{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.3;
    text-align: center;
    background-color: rgb(43, 87, 153);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    box-shadow: 10px -5px 20px rgb(6, 196, 230);
}
